.chat
  position: fixed
  top: 0px
  bottom: 0px
  right: 0px
  .messages
    position: absolute
    bottom: 20px
    right: 0px

    text-align: right
    font-family: verdana, sans-serif
    font-size: 12px
    line-height: 100%

    .chat-line
      overflow: hidden
      width: 300px
      .message
        display: inline-block

      .user
        display: inline-block
      .channel
        display: inline-block



  input.message
    position: absolute
    bottom: 0px
    right: 0px
    margin: 0px

